<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cool Project</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app" >
  <h1>Contact Us</h1>
    <div class="container" ng-controller="Infocontroller">
<form ng-submit="tallyInfo(Info)">
     <label class="label">Name</label>
        <p class="control">
           <input class="input" type="text" placeholder="Text input" ng-model="Info.name" ng-keyup="validateName(Info.name)"> {{ errors.name }}
       </p>
           <label class="label">Email</label>
       <p class="control">
           <input class="input" type="text" placeholder="Text input" ng-model="Info.email" ng-keyup="validateEmail(Info.email)">{{ errors.email }}
      </p>
       <p class="control">
           <label class="label">Website</label>
           <input class="input" type="text" placeholder="Text input" ng-model="Info.Web" ng-keyup="validateWeb(Info.Web)"> {{ errors.Web}}
      </p>
      
           <textarea class="textarea" placeholder="Textarea" ng-model="Info.area"></textarea>
      </p>

           <button class="button is-primary">Submit</button>
       <form>
       <h1>test</h1>
       <ul cliass= "Messages"> 
           <li ng-repeat= "Message in Messages">
           {{Info.name}}
           {{Info.emial}}
           {{Info.website}}
            {{Info.area}}
           </li>
        </ul>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
